In [1]:
import pandas as pd

In [2]:
sal = pd.read_csv('Salaries.csv')

C:\Users\Acer\AppData\Local\Temp\ipykernel_9716\1748292466.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('Salaries.csv')

In [3]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
#Q3
print(sal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

In [6]:
s=sal[['BasePay']]

In [7]:
s.mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
joseph_driscoll_title = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].iloc[0]
print(f"Job Title of JOSEPH DRISCOLL: {joseph_driscoll_title}")

In [ ]:
joseph_driscoll_salary = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].iloc[0]
print(f"Salary of JOSEPH DRISCOLL (including benefits): {joseph_driscoll_salary}")

In [ ]:
highest_paid_person = sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']
print(f"Name of the highest-paid person (including benefits): {highest_paid_person}")

In [ ]:
lowest_paid_person = sal.loc[sal['TotalPayBenefits'].idxmin()]['EmployeeName']
print(f"Name of the lowest-paid person (including benefits): {lowest_paid_person}")

In [ ]:
average_basepay_per_year = sal.groupby('Year')['BasePay'].mean()
print("Average BasePay per Year:")
print(average_basepay_per_year)

In [ ]:
unique_job_titles = sal['JobTitle'].nunique()
print(f"Number of unique job titles: {unique_job_titles}")

In [ ]:
top_5_jobs = sal['JobTitle'].value_counts().head(5)
print("Top 5 most common jobs:")
print(top_5_jobs)

In [ ]:
job_titles_2013 = sal[sal['Year'] == 2013]['JobTitle'].value_counts()
job_titles_one_person_2013 = sum(job_titles_2013 == 1)
print(f"Job Titles represented by only one person in 2013: {job_titles_one_person_2013}")

In [ ]:
chief_count = sum(sal['JobTitle'].str.lower().str.contains('chief'))
print(f"Number of people with the word Chief in their job title: {chief_count}")

In [ ]:
sal['JobTitleLength'] = sal['JobTitle'].apply(len)
correlation = sal[['JobTitleLength', 'TotalPayBenefits']].corr().iloc[0, 1]
print(f"Correlation between Job Title length and Salary: {correlation}")